@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --color1: #11262a;
  --color2: #0d4e58;
  --color3: #148490;
  --color4: #26c7d2;
  --color5: #4dfff8;
  --color6: #000000;
  --color7: #001f45;
  --color8: #004690;
  --color9: #2871e5;
  --color10: #5aa0ff;
  --color11: #f2552a;
  --color12: #0c71c3;
  --color13: ;
}

.text-lifipa {
  color: #97c93e !important;
}

.btn-lifipa {
  background: #97c93e;
  color: white;
}

.btn-lifipa:hover {
  background-color: #82ad36;
  color: white;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

.logo {
  width: 120px;
  border-radius: 10%;
  padding-right: 20px;
  align-items: center;
}

a {
  color: white;
  position: relative;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

nav ul li:active {
  border: 1px solid;
  border: outset;
  box-shadow: 3px 3px 2px black;
}

#main .carousel-inner img,
#main .carousel-inner {
  height: 65vh;
  object-fit: cover;
  /*filter: grayscale(60%);*/
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  z-index: 1;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#news {
  background-image: linear-gradient(to right, #09203f 0%, #537895 100%);
}

#players {
  background-color: #29539b;
  background-image: linear-gradient(to right, 315deg, #29539b 0%, #1e3b70 74%);
}

#results {
  background: #0575e6;
  background: -webkit-linear-gradient(to right, #021b79, #0575e6);
  background: linear-gradient(to right, #021b79, #0575e6);
}

#history {
  background: #4b6cb7;
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7);
}

#login {
  /* background: #ffe259;
  background: linear-gradient(to left, #ffa751, #ffe259); */
  background: #3ca55c;
  background: -webkit-linear-gradient(to left, #b5ac49, #3ca55c);
  background: linear-gradient(to left, #b5ac49, #3ca55c);
}

.place-time {
  background: #4b6cb7;
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7);
  color: white;
}

.place-time img {
  max-width: 100%;
}

.standings {
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff);
}

.bgLogin {
  background-image: url("../img/login.jpg");
  background-position: center center;
  background-size: cover;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease-in-out;
}

.inner:hover img {
  transform: scale(1.5);
}

#footer {
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
  color: white;
}

#footer div a {
  color: white;
}

.fab {
  font-size: 2rem;
}
