@import "variables/variables.scss";
@import "operaciones/operaciones.scss";
@import "mixins/mixins.scss";

:root {
  --color1: #004a7c;
  --color2: #005691;
  --color3: #3282b8;
  --color4: #bbe1fa;
  --color5: #e8f1f5;
  --color6: #fafafa;
  --color7: #1b262c;
}

.text-lifipa {
  color: #97c93e !important;
}

.btn-lifipa {
  background: #97c93e;
  color: white;
}

.btn-lifipa:hover {
  background-color: #3ca55c;
  color: white;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background: linear-gradient(90deg, #004a7c, #005691 25%, #3282b8);
}

.logo {
  width: $anchoLogo;
  border-radius: 10%;
  padding-right: $pRLogo;
  align-items: center;
}

a {
  color: white;
  position: relative;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
}

p a:hover,
ul li a:hover {
  visibility: visible;
  transform: scaleX(1);
  background-color: #3282b8;
  color: white;
}

nav ul li a:active {
  border: 1px solid;
  box-shadow: 3px 3px 2px black;
}

#carousel {
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    z-index: 1;
    .container {
      height: 100%;
    }
    .row {
      height: 100%;
    }
  }
}

#news {
  background: #eaeaea;
}

#players {
  background-color: #29539b;
  background-image: linear-gradient(to right, 315deg, #29539b 0%, #1e3b70 74%);
}

#results {
  background: #0575e6;
  background: -webkit-linear-gradient(to right, #021b79, #0575e6);
  background: linear-gradient(to right, #021b79, #0575e6);
}

#history {
  background: #0575e6;
  background: -webkit-linear-gradient(to right, #021b79, #0575e6);
  background: linear-gradient(to right, #021b79, #0575e6);
}

#login {
  background: #3ca55c;
  background: -webkit-linear-gradient(to left, #b5ac49, #3ca55c);
  background: linear-gradient(to left, #b5ac49, #3ca55c);
}

.place-time {
  background: #0575e6;
  background: -webkit-linear-gradient(to right, #021b79, #0575e6);
  background: linear-gradient(to right, #021b79, #0575e6);
  color: black;
  img {
    max-width: 100%;
  }
}

.standings {
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff);
}

.bgLogin {
  background-image: url("../img/login.jpg");
  background-position: center center;
  background-size: cover;
}
.bg__Inner__Login {
  background: $loginBg;
}

.inner {
  overflow: hidden;
  img {
    transition: all 1.5s ease-in-out;
  }
}

.inner img:hover {
  transform: scale(1.5);
}

#footer {
  background: linear-gradient(90deg, #004a7c, #005691 25%, #3282b8);
  color: white;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.svg-inline--fa {
  vertical-align: -0.2em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.whatsapp {
  background: #25d366;
}

.rounded-social-buttons .social-button.whatsapp:hover,
.rounded-social-buttons .social-button.whatsapp:focus {
  color: #25d366;
  background: #fefefe;
  border-color: #25d366;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #f09433;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #f09433;
  background: #fefefe;
  border-color: #f09433;
}

// Media query para cambiarle el color a los botones a partir de determinado ancho de pantalla

@media (max-width: ($mediaQuery)) {
  .btn-lifipa:hover {
    background-color: #00b7eb;
    color: white;
  }
  .text-lifipa {
    color: #00ffff !important;
  }
  .btn-lifipa {
    background: #0070ff;
    color: white;
  }
  .bg__Inner__Login {
    background: $loginBg !important;
  }
  .rounded-social-buttons {
    padding-top: 17px;
  }
  .footer__conocer_none {
    display: none;
  }
}
