@import "variables/variables.scss";
@import "operaciones/operaciones.scss";
@import "mixins/mixins.scss";

:root {
  --color1: #11262a;
  --color2: #0d4e58;
  --color3: #148490;
  --color4: #26c7d2;
  --color5: #4dfff8;
  --color6: #000000;
  --color7: #001f45;
  --color8: #004690;
  --color9: #2871e5;
  --color10: #5aa0ff;
  --color11: #f2552a;
  --color12: #0c71c3;
}

.text-lifipa {
  color: #97c93e !important;
}

.btn-lifipa {
  background: #97c93e;
  color: white;
}

.btn-lifipa:hover {
  background-color: #82ad36;
  color: white;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

.logo {
  width: $anchoLogo;
  border-radius: 10%;
  padding-right: $pRLogo;
  align-items: center;
}

a {
  color: white;
  position: relative;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  text-decoration: none;
}

ul li a:hover {
  visibility: visible;
  transform: scaleX(1);
  background-color: #3ca55c; /* Green */
  color: white;
}

nav ul li a:active {
  border: 1px solid;
  box-shadow: 3px 3px 2px black;
}

#main .carousel-inner img,
#main .carousel-inner {
  height: 65vh;
  object-fit: cover;
  width: 100%;
  /*filter: grayscale(60%);*/
}

#carousel {
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    z-index: 1;
    .container {
      height: 100%;
    }
    .row {
      height: 100%;
    }
  }
}

#news {
  background-image: linear-gradient(to right, #09203f 0%, #537895 100%);
}

#players {
  background-color: #29539b;
  background-image: linear-gradient(to right, 315deg, #29539b 0%, #1e3b70 74%);
}

#results {
  background: #0575e6;
  background: -webkit-linear-gradient(to right, #021b79, #0575e6);
  background: linear-gradient(to right, #021b79, #0575e6);
}

#history {
  background: #4b6cb7;
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7);
}

#login {
  background: #3ca55c;
  background: -webkit-linear-gradient(to left, #b5ac49, #3ca55c);
  background: linear-gradient(to left, #b5ac49, #3ca55c);
}

.place-time {
  background: #4b6cb7;
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7);
  color: white;
  img {
    max-width: 100%;
  }
}

.standings {
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff);
}

.bgLogin {
  background-image: url("../img/login.jpg");
  background-position: center center;
  background-size: cover;
}

.inner {
  overflow: hidden;
  img {
    transition: all 1.5s ease-in-out;
  }
  img:hover {
    transform: scale(1.5);
  }
}

#footer {
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
  color: white;
  div a {
    color: white;
  }
}

.fab {
  font-size: $fab;
}

// Media query para cambiarle el color a los botones a partir de determinado ancho de pantalla

@media (max-width: ($mediaQuery)) {
  .btn-lifipa:hover {
    background-color: #00b7eb;
    color: white;
  }
  .text-lifipa {
    color: #00ffff !important;
  }
  .btn-lifipa {
    background: #00ffff;
    color: white;
  }
  .bg__Inner__Login {
    background: $loginBg !important;
  }
}
